#aiosqlite
#aiomysql
#databases
mysqlclient
starlette
sqlalchemy
uvicorn
starlette-auth-toolkit
pyJWT # not jwt!
passlib
orm
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
